PORT=3004
DATABASE_URL=postgresql://peerprep:peerprep_dev@localhost:5434/user_service
FRONTEND_URL=http://localhost:3000
JWT_SECRET=f66b5a9087ddc25ebe95bd8048ee67cd8a44133f1d332b70180295d0baf595e2
SERVICE_SECRET_KEY =c692f3e964f80667f8871f246ff949bf0ce080286b506c7e62e58eb565937cd5
GCS_BUCKET_URL=https://storage.googleapis.com/peerprep/avatars
RESEND_API_KEY=re_U93uUyua_F49ozTuU3oe8BG4DV3LFyPLR
SERVER_IP=192.168.1.11
AUTH_REDIS_URL=redis://localhost:6380

ADMIN_SEED_PASSWORD=Admin123!
ADMIN_SEED_EMAIL=admin@peerprep.com
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PROFILE_URL='https://storage.googleapis.com/peerprep/avatars/default.png'
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
