PORT=3002
FRONTEND_URL='http://localhost:3000'
REDIS_URL='redis://localhost:6379'

COLLAB_SERVICE_URL='http://localhost:3001'
QUESTION_SERVICE_URL='http://localhost:3003'

JWT_SECRET='f66b5a9087ddc25ebe95bd8048ee67cd8a44133f1d332b70180295d0baf595e2'
